

body{
    background-color: orange !important;
}

.hungry{
    text-align: center;
    color : blue;
}

#food-menu{
    width : 250px;
    text-align: center;
    margin-left: 50px;
}

#meals{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap:5px;
}


.meal-menu h3{
    text-align: center;

}
.meal-menu h3 a{
    text-decoration: none;

}
.meal-menu img{
    width : 200px;
    height: 75px;
}